/* navbar y carrusel*/

.navbar {
   background-color: transparent; /*background-color: transparent;*/
    position: relative;
    z-index: 2;
}

.viajes {
    color: #FFFFFF;
}

.nav-link {
    color:#ffffffa5 !important; /*color:#ffffffd0 !important;*/
}

#carouselExample {
    margin-top: -80px;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* sección quienes somos */

.fondo {
    background-color: black;
}

.titulo {
    text-align: center;
    color: white;
    font-weight: 400;
}

.card1 {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center; 
    text-align: left; 
    background-color: #000000 !important;
    color: #FFFFFF;
   
}

.fondito {
    background-color: rgb(3, 226, 246);
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.texto1card {
    margin-top: -30px;
}

.texto2card {
    margin-bottom: -30px;
}

.card-body {
    background-color: rgb(3, 226, 246) !important;
    color: #FFFFFF;
}


/* Formulario */

.form-label {
    color:#FFFFFF;
}

.btn {
    color:#FFFFFF !important;
}

/* Footer */

.footer {
    background-color: rgb(3, 226, 246);
    height: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulofooter {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.iconos {
    color: #FFFFFF;
    font-size: 34px;
}