/* navbar y carrusel*/

.navbar {
    background-color: transparent;
    position: relative;
    z-index: 2;
}

#carouselExample {
    margin-top: -70px;
}

/* sección quienes somos */

.fondo {
    background-color: black;
}

.titulo {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.card1 {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center; 
    text-align: left; 
    background-color: #000000 !important;
    color: #FFFFFF;
}
